@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #F27405;
    line-height: 1.6;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F27405;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: #F2F2F2;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    font-size: 1.2rem;
}

.navbar a:hover {
    border-bottom: 2px #F27405 solid;
}

.navbar .flex {
    justify-content: space-between;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo img {
    width: 110px;
    height: 39px;
    vertical-align: middle;
}

  .video {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  .video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .video h1 {
      font-size: 60px;
      position: absolute;
      padding: 10px;
      font-weight: 500;
      width: 50%;
      height: 50%;
      top: 20%;
      left: 10%;
      animation: fadeIn linear 3s;
      -webkit-animation: fadeIn linear 7s;
      -moz-animation: fadeIn linear 7s;
      -o-animation: fadeIn linear 7s;
      -ms-animation: fadeIn linear 7s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @media screen and (max-width: 720px) {
    .video h1 {
      font-size: 50px;
    }
  }

/*Serviços*/

.services {
    display: flex;
    height: 100vh;
    flex-basis: 100%;
}

.services-head {
    flex: 50%;
    position: relative;
}


.services-texts {
    flex: 50%;
    position: relative;
}

.services-head-text {
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.services-head-text h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #F27405;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.services-head-text p {
  font-size: 1.3rem;
  font-weight: 300;
  color: gray;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.list-texts {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.list-texts li {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: .2rem;
    padding: 15px;
}

.services-head:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 1px solid #F27405;
    height: 90vh;
    top: 10%;
    bottom: 10%;
}

/*CTA*/

.action {
    padding-top: 15px;
    display: flex;
    height: 30vh;
    flex-basis: 100%;
    position: relative;
}

.text-action {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 25%;
    right: 25%;
    padding: 20px;
}


.text-action h2 {
    font-size: 1.7rem;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.text-action h2 span {
    color: #F27405;
    font-weight: 600;
}

.text-action button {
    font-size: 1rem;
    color: #F27405;
    font-weight: 400;
    background-color: white;
    text-transform:uppercase;
    letter-spacing: .2rem;
    padding: 15px;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-color: #F27405;
    border-style: solid;
}

.text-action button:hover {
    color: black;
    background-color: #F27405;
}

/*Sobre*/

.about {
    display: flex;
    height: 90vh;
    flex-basis: 100%;
}

.text-about {
    flex: 50%;
    position: relative;
}

.img-about {
    flex: 50%;
    position: relative;
}

.text-about h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color:#F27405;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.img-about img {
    width: 100%;
    position:absolute;
    top: 50%;
    right: 10%;
    left: 5%;
    transform: translateY(-50%);
}

/*Formulário*/

.form {
    padding-top: 15px;
    display: flex;
    height: 100vh;
    flex-basis: 100%;
}

.form-left {
    flex: 50%;
    position: relative;
}

.form-right {
    flex: 50%;
    position: relative;
}

.form-left form {
    position:absolute;
    top: 55%;
    left: 20%;
    right: 20%;
    transform: translateY(-50%);
}

.form-text {
    position:absolute;
    top: 50%;
    right: 10%;
    left: 10%;
    transform: translateY(-50%);
}

.form-right h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #F27405;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.form-right p {
    font-size: 1.3rem;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.pelotas h4 {
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
}

.porto-alegre h4 {
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
}

.pelotas p {
    font-size: 1rem;
}

.porto-alegre p {
    font-size: 1rem;
}

.form-left:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 1px solid #F27405;
    height: 90vh;
    top: 10%;
    bottom: 10%;
}

.form-control input {
    height: 50px;
    margin: 10px;
    width: 500px;
    border-radius: 5px;
    font-size: 100%;
    background: transparent;
    border-style: solid;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    padding-left: 2px;
}

.form-control textarea {
    margin: 10px;
    width: 500px;
    border-radius: 5px;
    font-size: 100%;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    padding-top: 10px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    padding-right: 2px;
    padding-left: 2px;
}

input[name^="message"] {
    height: 150px;
    padding-bottom: 100px;
    font-size: 100%;
}

input[type="submit"] {
    height: 50px;
    width: 150px;
    font-size: 100%;
    border-radius: 5px;
    border-color: #F27405;
    background-color: white;
    text-transform: uppercase;
    color: #F27405;
    border-style: solid;
}

input[type="submit"]:hover {
    color: black;
    background-color: #F27405;
}

/*Imagem div*/

.div-img {
    padding-top: 15px;
    display: flex;
    height: 50vh;
    flex-basis: 100%;
    position: relative;
}
.image {
    position: absolute;
    top: 10px;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.image img {
    width: 75%;
}

/*Visite-nos*/

.map-section {
    padding-top: 15px;
    display: flex;
    height: 100vh;
    flex-basis: 100%;
}

.address {
    flex: 50%;
    position: relative;
}

.map {
    flex: 50%;
    position: relative;
}

.address-text {
    position:absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.google-maps {
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.address-text h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #F27405;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.address-text h4 {
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
}

.address-text p {
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.address:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 1px solid #F27405;
    height: 90vh;
    top: 10%;
    bottom: 10%;
}


.navbar-footer {
    background-color: #F2F2F2;
    height: 150px;
    margin-top: 50px;
}

.navbar-footer ul {
    display: flex;
}

.navbar-footer a {
    padding: 10px;
    margin: 0 5px;
    font-size: 1.2rem;
}

.navbar-footer a:hover {
    border-bottom: 2px #F27405 solid;
}

.navbar-footer .flex {
    justify-content: space-between;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-footer img {
    width: 50%;
    height: 50%;
}








/*.card {
    background-color: #fff;
    color: #F27405;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: #F27405;
    color: black;
    border: none;
    border-radius: 5px;
}*/